<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>angular-flipsnap Demo</title>

    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.css" />

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/flipsnap/flipsnap.js"></script>

    <script src="../angular-flipsnap.js"></script>

    <link rel="stylesheet" href="index.css"/>

</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        angular-flipsnap
                        <br/>
                        <small>
                            A <a href="http://pxgrid.github.io/js-flipsnap/">flipsnap.js</a> directive for <a href="http://angularjs.org/">AngularJS</a>
                        </small>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    Example
                </h1>
            </div>
        </div>

        <div class="row" ng-controller="example1">
            <div class="col-sm-6">
                <h2>Items</h2>
                <pre>{{items}}</pre>
                <button class="btn btn-primary" ng-click="items.push(''+(items.length+1))">
                    Push
                </button>
                <button class="btn btn-danger" ng-click="items.pop()">
                    Pop
                </button>
                <h2>Options</h2>
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="simpleOptionsDistance" class="col-sm-4 control-label">distance</label>
                        <div class="col-sm-8">
                            <input ng-model="options.distance" type="number" class="form-control" id="simpleOptionsDistance" placeholder="distance">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="simpleOptionsMaxPoint" class="col-sm-4 control-label">maxPoint</label>
                        <div class="col-sm-8">
                            <input ng-model="options.maxPoint" type="number" class="form-control" id="simpleOptionsMaxPoint" placeholder="maxPoint">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="simpleOptionsTransitionDuration" class="col-sm-4 control-label">transitionDuration</label>
                        <div class="col-sm-8">
                            <input ng-model="options.transitionDuration" type="number" class="form-control" id="simpleOptionsTransitionDuration" placeholder="transitionDuration">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="options.disableTouch" type="checkbox"> disableTouch
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="options.disable3d" type="checkbox"> disable3d
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div flipsnap="flipsnapSimple" flipsnap-id="fsSimpleId" flipsnap-options="options" class="viewport">
                    <div ng-repeat="item in items" class="item" flipsnap-pane>
                        <h1>{{item}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="margin-bottom:0;margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <p>
                        Built by <a href="http://ninjatronic.com/">Ninjatronic</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function () {
            'use strict';
            angular
                    .module('demo', ['flipsnap'])
                    .controller('example1', ['$scope', function($scope) {
                        $scope.items = ['1', '2', '3', '4'];
                        $scope.options = {};

                        $scope.$watch('options', function() {
                            if($scope.options.distance === null) {
                                delete $scope.options.distance;
                            }
                            if($scope.options.maxPoint === null) {
                                delete $scope.options.maxPoint;
                            }
                            if($scope.options.transitionDuration === null) {
                                delete $scope.options.transitionDuration;
                            }
                        }, true);
                    }]);
        })();
    </script>

</body>
</html>